
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles and utilities */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

/* header section */

header{
    background-color: #2D25A0;;
}



.flexible-container{
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.half-width{    
    width: 50%;
}

.flexible-container .first{
    padding-left: 165px;
}

.flexible-container .second{
    padding-left: 50px;
    padding-right: 110px;
}

.half-width h1{
    margin: 0;
    margin-bottom: 27px;
    font-size:64px;
    color: #FFFFFF;
}



.half-width a{
    margin-top: 27px;
    background-color: #E02C6D;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 24px; 
    color: #FFFFFF;

}

.half-width a > span{
    margin-left: 8px;
}


.half-width img{
    width: 556.01px;
    height: 438px;    
}

.flexible-container:hover .half-width img{
    transform: rotate(20deg);
}

.half-width img {
    transition: transform 1s ease-in;
}


/* -------------
        main 
-----------------*/

/* players */

main{
    margin: 70px 150px;
}

.players{    
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px 30px;    
    justify-items: center;
}

.player-info {
    width: 300px;
    height: 450px;
    padding: 15px;   
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}



.player-info img{
    width: 300px;
    height: 256px;
}
.player-info .player-name{
    font-size: 28px;
    color: #18191F;
}
.player-info .player-description{
    font-size: 16px;
    color: #6C6C6C;
}

/* section */


.section{
    padding:20px 20px 20px 20px;
    margin-top: 40px;
    width: 1010px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.section-title{
    color: #2D25A0;    
}


.section-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 26px;
    grid-column-gap: 26px;
   
}

.item{
    display: flex;
    align-items: center;   
    column-gap: 16px; 
}

.item .thumbnail img{
    width: 177px;
    height: 117px;
    border-radius: 5%;
}

.item-name{
    font-size: 24px;
    color: #18191F;
}

.ranking{
    font-size: 16px;
    color: #9F9F9F;
}

.ranking span{
    font-weight: 700;
    color: tomato;
}








/* footer */

footer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    
}

footer .footer-item img{
    width: 484px;
    height: 110px;
}

footer .footer-item .social-icons {
    margin: auto;
    text-align: center;  
    
}
footer .footer-item .social-icons .fab{
    width: 32px;
    height: 32px;
    color: #969BAB;
}
footer .footer-item p{
    margin: auto;
    text-align: center;  
    font-size: 18px;
    font-weight: 400;
}


/*--------------------
     media queries 
----------------------*/

/* mobile device */

@media only screen and (max-width:688px)
{

    /* header */
    .flexible-container{
     flex-direction: column;
       row-gap: 50px;
    }
    .flexible-container .first{
        padding-left: 15px;
    }
    
    .flexible-container .second{
        padding-left: 15px;
        padding-right: 0px;
    }
    
    .half-width{       
        width: auto;
    }

    .half-width h1{        
        font-size:36px;            
    }    

    .half-width img{
        width: 329px;
        height: 259px;
    }

    /* main */

    main{
        margin: 0;
        width: auto;        
    }

    .players{
        margin: 47px 15px;       
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px 20px;    
      
    }

    /* section */

    .section{
        margin: 47px 15px;    
        width: auto;
        border-radius: 5px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    }
    
   
    
    .section-items{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 26px;       
       
       
    }

   

    /* footer */

    footer{
        margin-top: 40px;
    }

    footer .footer-item img{
        width:271px;
        height: 63px;
        
    }

  
}



/* ipad, tab device */

@media only screen and (min-width:689px) and (max-width:992px)
{
    /* header */
    .flexible-container{
        flex-direction: column;
          row-gap: 50px;
       }
       .flexible-container .first{
           padding-left: 15px;
       }
       
       .flexible-container .second{
           padding-left: 15px;
           padding-right: 0px;
       }
       
       .half-width{       
           width: 70%;
       }
   
       .half-width h1{        
           font-size:36px;            
       }    
   
       .half-width img{
           width: 400px;
           height: 300px;
       }

   

    /* main */
    main{
        margin: 0px;
        width: auto;
        
    }

    .players{
        margin: 47px 15px;  
        grid-gap: 30px 20px;      
        grid-template-columns: repeat(2,330px);
        justify-content: space-evenly;
    }

     /* section */

     .section{       
        margin: 47px 15px;    
        width: auto;
        border-radius: 5px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    }
    
   
    /* section */
    .section-items{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 26px;       
       
    }

   
    /* footer */

     footer{
        margin-top: 40px;
    }

    footer .footer-item img{
        width:271px;
        height: 63px;
        
    }

}








